<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"
        defer></script>
    <link rel="stylesheet" href="assets/style.css">
    <title>Boolzapp Ajeje</title>
</head>

<body>
    <div class="container p-0">
        <div class="sub-container contact">

            <header class="head_chat" style="border: 2px solid lightgrey;">
                <div class="avatar">

                    <img 
                    :src="user.avatar" 
                    alt=""
                    class="img-avatar rounded-5"
                    style="width: 12%; border: 1px solid black;"
                    >
                    <span class="p-2" style="font-weight: 600;">{{ user.name }}
                    </span>

                </div>

                <!--------------- Scritto con Html --------------------->

                    <!-- <div class="rounded-5" style="width: 12%; border: 1px solid black;">
                        <img src="img/avatar_io.jpg" alt="" class="img-avatar rounded-5" style="width: 100%;">
                    </div>
                    <span class="p-1" style="font-weight: 600;">
                        Sofia
                    </span> -->
                
                <div class="icons" style="color:grey">
                    <i class="fa-sharp fa-solid fa-circle-notch p-1"></i>
                    <i class="fa-solid fa-message p-1"></i>
                    <i class="fa-solid fa-ellipsis-vertical p-1"></i>
                </div>
            </header>

            <main class="main_contact">
                <div class="notific_messagge d-flex align-items-center" style="background-color: rgb(124, 192, 237);">
                    <div class=" d-flex align-items-center p-3 m-2 rounded-5" style="background-color: aliceblue; height: 3rem;">
                        <i class="bi bi-bell-slash-fill" style="color:rgb(124, 192, 237); font-size: 16px;"></i>
                    </div>
                    <div 
                    
                    Ultimo accesso oggi
                    class="d-flex flex-column" style="font-size: 12px;">
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <a href="">Attiva notifiche desktop</a>
                    </div>
                </div>
                <input 
                type="text" 
                class="search_bar" 
                style="width: 96%;"
                placeholder="Cerca o inizia una nuova chat" 
                v-model="searchCont"
                >
            </main>

            <div class="container_contact" style="height: 79%;">
                <div 
                v-for="(item, index) in filter"
                :key="index"
                @click="activeChat(item)"
                class=" contact d-flex flex-row align-items-center py-2 px-3"
                :class="{active: index == activeIndex}"
                style="border: 1px solid whitesmoke;"
                >
                    <img 
                    :src="item.avatar"
                    :alt="item.avatar"
                    class="rounded-5"
                    style="height: 50px;"
                    >
                    <div class="p-2" style="font-size: 12px;">
                        <span>{{ item.name }}</span>
                    <!-- <div>{{item.messagges[].date}}</div> --> 
                        <div class="date">{{item.messages[item.messages.length - 1].message}}</div>   
                    </div>
                    <span 
                    class="time"
                    style="font-size: 10px;"
                    >
                    {{ extractTimeFromDate(item.messages[item.messages.length - 1].date) }}</span>
                    
                </div>
                
            </div>
            

        </div>

        <div class="sub-container2 chat ">
            <header class="head-chat" style="border: 2px solid lightgrey; border-left: 0px;">
                
                <div class="avatar ">
                    <img 
                    :src="contacts[activeIndex].avatar" 
                    alt=""
                    class="img_avatar rounded-5"
                    style="height: 3rem; width: 3rem; border: 1px solid black;"
                    >
                    <div class="name p-2 d-flex flex-column" style="font-size: 15px;font-weight: 700;">
                        {{ contacts[activeIndex].name }}
                        <span style="font-weight: 400;"> Ultimo accesso oggi alle {{returnDate(dateNow)}}</span>
                    </div>
                    
                    
                </div>
                

                <div class="icons_chat d-flex align-items-center" style="color:grey; font-size: 20px;">
                    <i class="bi bi-search p-2"></i></i>
                    <i class="fa-sharp fa-solid fa-paperclip p-2"></i>
                    <i class="fa-solid fa-ellipsis-vertical p-2"></i>
                </div>
            </header>
            <main class="main-chat">
                <div class="sub_main_chat">
                    <div class="discussion d-flex flex-column">
                        
                        <div
                        v-for="(mex, index) in contacts[activeIndex].messages"
                        :key="mex.date"
                        :class="mex.status == 'sent' ? 'green' : 'white'"
                        class="rounded-3 d-flex flex-column justify-content-center mb-2"
                        style="width: 15rem; font-size: 15px;"
                        >

                        <div>
                            {{mex.message}}
                            
                        </div>
                        <span class="date" style="font-size: 12px;">{{ extractTimeFromDate(mex.date) }}</span>
                        
                        </div>
                    </div>
                    
                    
                </div>
              
            </main>
            <footer class="footer-chat" style="font-size: 20px;">
                <i class="bi bi-emoji-smile p-2"></i>
                <div class="p-2" style="width: 90%;">
                    <input 
                        type="text"
                        placeholder="Scrivi un messaggio" 
                        style="width: 100%; border: 0px;" 
                        class="rounded-3 p-2"
                        v-model="newMessage"
                        @keyup.enter="addMessage(newMessage)"
                    >
                </div>
                <i class="bi bi-mic-fill p-2"></i>
                
            </footer>

        </div>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <script src="assets/script.js"></script>
    
</body>

</html>