* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.green-bar {
    height: 6rem;
    background-color: rgb(65, 173, 89);
}

.cream-space {
    height: 90vh;
    background-color: bisque;
}


/* WINDOW */

.window {
    height: 85vh;
    width: 1300px;
    position: fixed;
    background-color: aliceblue;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}


/* LEFT SIDE */


.list-chat {
    height: 100%;
    width: calc( 100% / 3);
    background-color:whitesmoke;
    
}

.list-chat > div {
    width: 100%;
    height: 65px;
    border: 1px solid black;
}

.user-data {
    height: 100%;
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.user-info img {
    border-radius: 100%;
    height: 100%;
    margin-inline: 1rem;
}

.user-info i {
    font-size: 1rem;
    color: black;
    padding: .5rem;
}

.notification-sett {
    display: flex;
    align-items: center;
    background-color: lightskyblue;
}

.notification-sett i {
   background-color: white;
   padding: .5rem;
   border-radius: 100%; 
   margin-inline: 1rem;
   color: lightskyblue;
}

.activate-notif-desktop-bottom {
    font-size: .8rem;
    text-decoration: underline;
    color: grey;
}

.search-bar {
    display: flex;
    align-items: center;
    box-shadow: inset 0px 0px 0px 10px lightgray;
    color: gray;
}

.search-bar i {
    margin-inline: 1rem;
}




/* RIGHT SIDE */

/* CONVERSATION SPACE */

.conversation-window {
    height: 100%;
    width: calc( 100% / 3 * 2);
    background-image: url(../assets/img/mine.jpg);
}


.chatter {
    height: 65px;
    background-color: cadetblue;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.chatter-data,
.chatter-settings {
    display: flex;
    align-items: center;
}

.chatter-settings i {
    margin-inline: .5rem;
}

.chatter-data img {
    height: 90%;
    border-radius: 100%;
    margin-inline: 1rem;
}

.data-last-access {
    font-size: .8rem;
}

.conversation-space {
    height: calc(100% - 130px);
    /* border: 1px solid black; */
}


.edit-message-space {
    height: 65px;
    background-color:rgb(107, 107, 107);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.text-message {
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    background-color: white;
    border-radius: 5px;
    height: 60%;
    width: 80%;
}


